<% include partials/header %>

<body>

  <!-- algorithms working body -->
  <main>
    <div id="important-info-container">
      <span>Best case time complexity: <strong class="bctc">?</strong></span>
      <span>Worst case time complexity: <strong class="wctc">?</strong></span>
      <span>Average case time complexity: <strong class="actc">?</strong></span>
      <span>Space complexity: <strong class="sc">?</strong></span>
    </div>
    <div id="visualizer-container">
      <!-- dynamic bars go here -->
    </div>
    <div id="additional-info-container">
      <span>Stable: <strong class="stability">?</strong></span>
    </div>
  </main>


  <!-- internal script -->
  <script type="module" src="js/interface.js"></script>
  <script type="module" src="js/main.js"></script>
</body>

<% include partials/footer %>